@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chronicle Display";
  src: url("/fonts/Chronicle-Display-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Chronicle Display";
  src: url("/fonts/Chronicle-Display-Semibold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@layer base {
  html {
    @apply antialiased scroll-smooth;
  }

  body {
    @apply bg-primary text-white font-gilroy font-bold;
  }

  p {
    @apply text-[18px];
  }
}

@layer components {
}

@layer utilities {
  .wrapper {
    @apply max-w-[1462px] mx-auto px-5;
  }

  .wrapper-wide {
    @apply max-w-[1760px] mx-auto px-5;
  }
}
